<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/ajax.js" ></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3 py-0">
    <a class="navbar-brand" href="/">
      <img class="logo" src="images/mean_logo.png" alt="mean logo">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/chat_room">Chat Room</a>
      </li>
    </ul>
  </nav>
  <div class="container" id="name_req">
    <div class="jumbotron mt-5 col-lg-6 mx-auto">
      <h4>Welcome to the Chat Room</h4>
      <label for="name">What is your Name:</label>
      <input type="text" id="name" class="form-control">
      <div class="invalid-feedback d-none" id="valid_name">
        Please provide a name with more than 2 characters.
      </div>
      <div class="form-row mt-1">
        <a class="btn btn-light ml-auto" href="/">Cancel</a>
        <button class="btn btn-primary mx-1" id="join_btn">Join</a>

      </div>
    </div>
  </div>
  <div class="container d-none" id="chat_room">
    <div class="row">
    
      <div class="jumbotron py-3 col-lg-4 h-100">
      <h4 class="text-center jumbotron p-2 m-0 bg-dark text-muted">Users Joined</h4>
      <div id="joined_users"></div>
      </div>

      <div class="jumbotron py-3 px-3 col-lg-7 offset-lg-1 h-100">
        <div id="messages" class="row jumbotron bg-light mx-1 mb-1 p-1">
          <h4 class="text-center jumbotron p-2 m-0 mb-1 col-12 bg-dark text-muted">Wall</h4>
        
            
          
        </div>
      
        <div id="message_form">
          <div class="row jumbotron bg-primary mx-1 px-1 my-0 py-1">
            <input type="hidden" id="ticket_id" value="ATTENTION">
            <input class="form-control col-11" type="text" name="message" id="message" placeholder="Write a message...">
            <button type="button" id="send" class="btn btn-primary col-1 p-0">
              <i class="nav-link fas fa-arrow-circle-up p-0"></i>
            </button>
          </div>
        </div>
      </div> <!--END OF MESSAGES CONTAINER-->
    
    </div> <!--END OF ROW-->
  </div>
</body>
</html>