<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/">Express</a>
  </nav>
  <div class="container">
    <form class="jumbtron mt-3 p-5 shadow-sm bg-light" action="/add_user" method="POST">
      <h3 class="jumbotron py-2 bg-warning">Register</h3>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname">
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname">
      </div>
      <div class="form-group">
        <label for="em">Email</label>
        <input type="text" class="form-control" id="em" name="em">
      </div>
      <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" class="form-control" id="pw" name="pw">
      </div>
      <div class="form-group">
        <label for="cpw">Confirm Password</label>
        <input type="password" class="form-control" id="cpw" name="cpw">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</body>
</html>