<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/ajax.js" ></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3 py-0">
    <a class="navbar-brand" href="/">
      <img class="logo" src="images/mean_logo.png" alt="mean logo">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/users">Users</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <a href="/cars" class="col m-3 jumbotron btn btn-primary bg-primary"><h2 class="d-inline">Cars</h2></a>
      <a href="/cats" class="col m-3 jumbotron btn btn-success bg-success"><h2 class="d-inline">Cats</h2></a>
      <a href="/form" class="col m-3 jumbotron btn btn-secondary bg-secondary"><h2 class="d-inline">Register</h2></a>
    </div>
    <div class="row fixed-bottom ml-4">
      <div class="jumbotron py-2 text-center">
        <h5 class="jumbotron bg-dark text-light py-2 my-3">Page Visit Counter Widget</h5>
        <h2 id="count" class="jumbotron p-1 m-1 w-25 mx-auto"><%= visit %></h2>
        <div class="row">
          <button id="plus_two" class="col btn btn-warning m-3 btn-sm shadow"><strong>+2 Visit</strong></button>
          <button id="reset" class="col btn btn-secondary m-3 btn-sm shadow"><strong>Reset</strong></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>